@font-face {
  font-family: "Bauhaus Light";
  src: url(../ASSETS/font/BauhausStd-Light.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* ***** Root Var ***** */

:root {
  --bg-color: #e9c9c8;
  --secondary-color: #7bd3d3;

  --Bauhaus-font: "Bauhaus Light";
  --Montserrat-font: "Montserrat", sans-serif;
  --Roboto-font: "Roboto", sans-serif;
}

/* ***** Resets ***** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;

  scroll-behavior: smooth;
  font-family: var(--Montserrat-font) !important;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--Montserrat-font) !important;
}

body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(231, 229, 226, 0); /* color of the tracking area */
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 166, 0, 0); /* creates padding around scroll thumb */
}

main {
  background: rgb(233, 201, 200);
  background: -moz-linear-gradient(
    20deg,
    rgba(233, 201, 200, 1) 15%,
    rgba(123, 211, 211, 1) 41%,
    rgba(233, 201, 200, 1) 72%
  );
  background: -webkit-linear-gradient(
    20deg,
    rgba(233, 201, 200, 1) 15%,
    rgba(123, 211, 211, 1) 41%,
    rgba(233, 201, 200, 1) 72%
  );
  background: linear-gradient(
    20deg,
    rgba(233, 201, 200, 1) 15%,
    rgba(123, 211, 211, 1) 41%,
    rgba(233, 201, 200, 1) 72%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9c9c8",endColorstr="#e9c9c8",GradientType=1);
}

footer i,
header i {
  font-weight: bold;
  background-image: linear-gradient(
    120deg,
    rgb(213, 51, 165) 12%,
    var(--secondary-color) 40%,
    #4f81d3
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

footer a:hover i {
  transition: all 0.3s ease-in-out;

  background-image: linear-gradient(
    140deg,
    rgb(213, 51, 165) 36%,
    var(--secondary-color),
    #4f81d3
  );
}

footer a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.home__image a:hover i {
  transition: all 0.3s ease-in-out;

  background-image: linear-gradient(
    140deg,
    rgb(213, 51, 165) 36%,
    var(--secondary-color),
    #4f81d3
  );
}

.home__image a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.home__image {
  background-image: url(../ASSETS/img/cupcakes_cenital.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  position: relative;
}

.home__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgb(233, 201, 200);
  background: -moz-linear-gradient(
    0deg,
    rgba(233, 201, 200, 1) 10%,
    rgba(250, 247, 247, 0) 46%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(233, 201, 200, 1) 10%,
    rgba(250, 247, 247, 0) 46%
  );
  background: linear-gradient(
    0deg,
    rgba(233, 201, 200, 1) 10%,
    rgba(250, 247, 247, 0) 46%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9c9c8",endColorstr="#faf7f7",GradientType=1);
}

.hero-blur::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.text-BauhausLight {
  font-family: var(--Bauhaus-font);
  font-weight: 100;
}

.text-Montserrat {
  font-family: var(--Montserrat-font);
}

.link-color:hover {
  transition: all 0.3s ease-in-out;
  color: var(--secondary-color) !important;
}

.text-shadow {
  text-shadow: 8px 5px 5px #c6c1c1;
}
.gradient-text {
  background: #191818;
  background: linear-gradient(
    120deg,
    rgb(213, 51, 165),
    var(--secondary-color) 40%,
    #4f81d3 65%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-bg {
  background: #191818;
  background: linear-gradient(
    120deg,
    rgb(213, 51, 165),
    var(--secondary-color) 40%,
    #4f81d3 65%
  );
}

.logo {
  width: 150px;
  height: 110px;
  transition: width 0.3s ease, height 0.3s ease;
}

.scrolled_bg {
  transition: all 0.3 ease-in-out;
  backdrop-filter: brightness(0.5);
}
.link-copy:hover {
  color: #4f81d3;
  transform: scale(1);
}

.drop-shadow {
  filter: drop-shadow(2rem 2.5rem 2rem #47464667)
    drop-shadow(1rem 3rem 1rem var(--bg-color));
}

.blur-bg {
  backdrop-filter: blur(5px) brightness(0.75);
}

.desssert-table_img {
  background-image: url(../ASSETS/img/cake_table-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 83vh;
}

.bg-glass {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px) brightness(0.8);
  border-bottom: solid 1px #ffffff54;
}

.box_shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.versalita {
  font-variant: small-caps;
}

.varietyCakes_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh 30vh 25vh;
  grid-template-areas:
    "0 a b"
    "c d b"
    "c e e";
  gap: 0.5rem;
}

.a {
  grid-area: a;
  background-image: url(../ASSETS/img/Cupcakes_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}
.b {
  grid-area: b;
  background-image: url(../ASSETS/img/dark_dessert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}
.c {
  grid-area: c;
  background-image: url(../ASSETS/img/AlfajoresMaizena_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 0.5rem;
}
.d {
  grid-area: d;
  background-image: url(../ASSETS/img/white_dessert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}
.e {
  grid-area: e;
  background-image: url(../ASSETS/img/redfruits_dessert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}

.fullScreen {
  width: 100vw !important;
}

.bg_cupcake-lateral {
  background-image: url(../ASSETS/img/Cupcake_Lateral.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}

.bg_cupcake-pinkBG {
  background-image: url(../ASSETS/img/Cupcakes_PinkBG\ .jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}
.bg_cupcake-primerPlano {
  background-image: url(../ASSETS/img/Cupcake_PrimerPlano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}

/* MediaQueries */

/* Mobile */
@media (max-width: 767px) {
  .mobile_HeroTitle_Size {
    font-size: 1.7rem;
  }
  .mobile_HeroSubTitle_Size {
    font-size: 1.2rem;
  }
  .logo {
    width: 120px;
    height: 88px;
  }
  .hero-blur::before {
    backdrop-filter: blur(3px) brightness(0.98);
  }
  .fullWidth {
    width: 100% !important;
  }
  .navBar_bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    backdrop-filter: blur(3px) brightness(0.65);
  }
  .textWhite_mobile {
    color: antiquewhite;
  }
}

/* Ipad */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 135px;
    height: 99px;
  }
  .textWhite_mobile {
    color: antiquewhite;
  }
}
